body {
  background-image: url("roomnew.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  /* min-width: 760;
  min-height: 741; */
}

.container {
  border: 3px solid transparent;
  /* my scrren size
  width: 1515px;
  height: 720px; */
  margin-top: 50px;
  margin: 50px 50px 0px 50px;
  box-shadow: 20px 20px 30px 20px rgba(0, 0, 0, 0.5);
}
.pet {
  position: absolute;
  /* border: 2px solid red; */
  margin-left: 30%;
  width: 20rem;
  height: 25rem;
  background-image: url("catsit.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.food {
  margin: 45% 35%;
  /* border: 2px solid black; */
  width: 60px;
  height: 70px;
  position: relative;
}
.food img {
  position: absolute;
  width: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
  position: relative;
}

.box {
  border: 5px solid #ffd6ff;
  border-radius: 15px;
  padding: 30px;
  background-color: #e7c6ff;
  width: 10px;
  height: 10px;
  overflow: hidden;
  position: relative;
}
.box img {
  position: absolute;
  width: 3.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  text-transform: uppercase;
}

.inputName {
  position: absolute;
  margin-left: 40%;
}

.inputName input {
  display: flex;
  justify-content: center;
  /* padding-left: 20px; */
  height: 2.5rem;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: width 0.2s ease;
}

.inputName input::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 5px;
}

.age-box {
  border: 5px solid #ffd6ff;
  border-radius: 15px;
  margin: 0px 0px 20px 20px;
  padding: 30px;
  background-color: #e7c6ff;
  width: 3px;
  height: 3px;
  overflow: hidden;
  position: relative;
}

.age {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9b79ff;
  font-size: 3rem;
  font-weight: 800;
}

.exp {
  margin: 0px 0px 20px 20px;
  padding: 5px 5px 3px 10px;
  width: 100%;
  max-width: 200px;
  height: 25px;
  border: 2px solid #ffd6ff;
  border-radius: 15px;
  background-color: #e7c6ff;
  /* overflow: hidden; */
  /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); */
}

.expbar {
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 80%;
  /* background: linear-gradient(
    to right,
    #c8b6ff 0%,
    #c8b6ff 80%,
    white 80%,
    white 100%
  ); */
  width: 180px;
  transition: width 0.5s ease-in-out;
  padding-left: 10px;
}

.bottom {
  margin: 200px 0px 00px 0px;
  height: 10rem;
  padding: 20px;
  /* margin: 450px 20px 20px 20px; */
  position: relative;
}
.top_btn {
  display: flex;
  justify-content: space-between;
}
.feed {
  width: 7rem;
  height: 3.5rem;
  border: 5px solid #ffd6ff;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #e7c6ff;
  color: #9b79ff;
}

.bath {
  width: 7rem;
  height: 3.5rem;
  border: 5px solid #ffd6ff;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #e7c6ff;
  color: #9b79ff;
}

.bottom_btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}

.play {
  width: 7rem;
  height: 3.5rem;
  border: 5px solid #ffd6ff;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #e7c6ff;
  color: #9b79ff;
}

.read {
  width: 7rem;
  height: 3.5rem;
  border: 5px solid #ffd6ff;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #e7c6ff;
  color: #9b79ff;
}

.sleep {
  width: 7rem;
  height: 3.5rem;
  border: 5px solid #ffd6ff;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #e7c6ff;
  color: #9b79ff;
}

.feedbtn :hover {
  color: #ffd6ff;
  background-color: #9b79ff;
  border: 5px solid #e7c6ff;
}

.bathbtn :hover {
  color: #ffd6ff;
  background-color: #9b79ff;
  border: 5px solid #e7c6ff;
}

.playbtn :hover,
.readbtn :hover,
.sleepbtn :hover {
  color: #ffd6ff;
  background-color: #9b79ff;
  border: 5px solid #e7c6ff;
}
